.header {
    background-color: #B0DFEE;
    padding: 10px;
    
  }
  
  h1 {
    font-family: 'Raleway', sans-serif;
    color: white;
    text-align: center;
  }
  
  body
  {
    background-color: #54A4BE;
    min-width: 500px; /* your desired width */
    max-width: 100%;
  }
  
  p {
    font-family: 'Raleway', sans-serif;
    color: white;
    margin-top: 20px; 
    margin-bottom: 20px;
    text-align: center;
  }
  
  .box {
    margin-left: 10%;
    margin-right: 10%;
  }
  
  h1 {
    color: #FFFFFF;
  }
  
  button {
    width: 20%;
    float: left;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  
  .button {
    background-color: #4CAF50; /* Green */
    border: 1px solid green;
    color: white;
  
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    height: 3em;
    cursor: pointer;
    float: left;
  }
  
  .button:hover {
      background-color: #3e8e41;
  }
  
  @media all and (min-width: 960px) {
  h1{
      font-size: 50px;
    }
  .box {
    margin-left: 20%;
    margin-right: 20%;
  }
  }
  
  @media all and (max-width: 959px) and (min-width: 600px) {
  h1{
      font-size: 5vw;
    }
  }
  
  @media all and (max-width: 599px) and (min-width: 50px) {
  h1{
      font-size:10vw;
    }
  button {
      width: 50%;
  }
  }
  
  textarea {
    padding-left: 5px;
    border: solid #8FB0EB 1px;
    background-color: #FFFFFF;
    resize: none;
    width: 100%;
    height: 200px;
    display: block;
    margin-top: 10px;
  }
  
  #input-area {
     background-color: #FFD36B;
  }
  
  #output-area {
     background-color: #FFA08F;
  }
  
  #button-container {
    margin: 10px 0px 0px 0px;
    padding: 0px;
    position: relative;
    height: 60px;
  }
 
#api-key{
    margin: 30px 0px;
    width: 100%;
}
  
